body{
    font-family: 'Poppins', sans-serif;
    background-color: #30ff07;
    background-image: linear-gradient(135deg, #30ff07 0%, #000000 24%, #000000 83%);
    
color:white;
}

#header{
    text-align: center;
}
#name{
    color: rgb(0, 236, 0);
}
.half-width{
    width: 50%;
}
.flex-container{
    display: flex;
}