body{
    font-family: 'Kaushan Script', cursive;
font-family: 'Russo One', sans-serif;
}

#header{
    font-family:'Kaushan Script', cursive;
    text-align: center;
}
#name{
    color: rgb(0, 236, 0);
}
.half-width{
    width: 50%;
}
.flex-container{
    display: flex;
}