body{
    font-family: 'Poppins', sans-serif;
    background-color: #004700;
background-image: linear-gradient(135deg, #004700 0%, #151808 29%, #000000 83%);


    
color:white;
}

#header{
    text-align: center;
}
#name{
    color: rgb(0, 236, 0);
}
.half-width{
    width: 50%;
    padding-left: 50px;
    margin-bottom: 10%;
}
.half-width img{
    width: 40%;
    padding-left: 300px;
}
.flex-container{
    display: flex;
}